@import url("https://cdn.jsdelivr.net/npm/@neos21/neos-normalize@2.0.0/neos-normalize.min.css");
/* https://unpkg.com/@neos21/neos-normalize@2.0.0/neos-normalize.min.css */

body {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
}

body > header,
body > footer {
  text-align: center;
}

body > header a {
  color: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}
