/*! Neo's GitHub Pages : Neo (@Neos21) https://neos21.github.io/ */

// Neo's Normalize
@import './node_modules/@neos21/neos-normalize/neos-normalize.scss';


/* ==================================================
 * 変数定義
 * ================================================== */

// メディアクエリ用
$breakpoint-xs:  575.98px;  // @media (max-width: $breakpoint-xs)
$breakpoint-sm:  576px   ;  // @media (min-width: $breakpoint-sm)
$breakpoint-md:  768px   ;  // @media (min-width: $breakpoint-md)
$breakpoint-lg:  992px   ;  // @media (min-width: $breakpoint-lg)
$breakpoint-xl: 1200px   ;  // @media (min-width: $breakpoint-xl)

// テーマカラー
$colour-white         : #fdfeff;
$colour-black         : #000204;
$colour-green         : #0da;
$colour-green-lighten : #dfe;
$colour-normalize-grey: #d2d4d6;


/* ==================================================
 * ミックスイン定義
 * ================================================== */

// レスポンシブルにボックス幅を変更する
@mixin responsive-width() {
  width: auto;
  margin: 0 auto;
  padding: 0 1rem;
  
  @media (min-width: $breakpoint-md) {
    width: 70vw;
    min-width: calc(#{$breakpoint-md} - 20px);
  }
  
  @media (min-width: $breakpoint-xl) {
    min-width: auto;
  }
}


/* ==================================================
 * 要素全般
 * ================================================== */

body {
  color: $colour-black;
  font-size: 16px;
  background: $colour-white;
  
  @media (max-width: $breakpoint-xs) {
    word-break: break-all;
  }
}

a {
  color: #0a4;
  outline: none;
  
  &:hover {
    color: #0c6;
  }
}

em,
em * {
  color: #092;
}

strong,
strong * {
  color: #f02;
}

hr,
td,
th {
  border-color: $colour-green;
}

th {
  background: $colour-green-lighten;
}


/* ==================================================
 * ヘッダ
 * ================================================== */

#header {
  margin-bottom: 2rem;
}

#logo a {
  display: block;
  overflow: hidden;
  padding: .3em;
  color: #edeeef;
  font-size: 1.75em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: linear-gradient(to top, rgba(35, 41, 44, .7), rgba(35, 41, 44, .7)),
              $colour-black;
  transition: background-color .2s;
  
  &:hover {
    color: $colour-white;
    background-color: #323334;
  }
}


/* ==================================================
 * メイン
 * ================================================== */

#main {
  @include responsive-width();
  
  // Level 1
  & > section {
    margin-bottom: 4rem;
    
    // Level 2 以降 : 見出しの上に余白を開ける
    section {
      margin-top: 2rem;
    }
    
    // Level 3 以降
    & > section section {
      padding-left: 1.5rem;
    }
  }
}

h1 {
  padding-bottom: .1em;
  border-bottom: 1px solid $colour-normalize-grey;
}

h2 {
  margin-left: -9999px;
  border-radius: 0 4px 4px 0;
  padding: .2em .2em .1em 9999px;
  color: $colour-white;
  background: linear-gradient(to bottom, rgba(34, 170, 136, .9), rgba(0, 153, 102, .9)),
              $colour-white;
  transition: background-color .2s;
  
  &:hover {
    background-color: #656667;
  }
  
  & a {
    color: $colour-white;
  }
}

h3 {
  border-bottom: 1px solid $colour-green;
}

h3,
h4,
h5,
h6 {
  margin-left: -1.5rem;
  padding-left: .5rem;
  border-left: 1rem solid $colour-green;
}


/* ==================================================
 * フッタ
 * ================================================== */

#footer {
  margin: 3rem 1rem 0;
  border-top: 1px solid $colour-normalize-grey;
  padding: 2rem 0;
  text-align: center;
}

#copyright {
  small {
    font-size: 1rem;
  }
  
  a {
    text-decoration: none;
  }
}
